body,p,form,input{margin: 0}
#form{
    width: 550px;
    margin: 30px auto;
    padding: 30px;
}
 
form p{
    font-size: 20px;
}
 
.form-title{
    font-size: 38px;
    text-align: center;
    margin-bottom: 80px;
    border-bottom:solid 3px #fff;"
}
 
.username {
	text-align: center;
    margin-bottom: 20px;
}
 
.password {
	text-align: center;
    margin-bottom: 20px;
}
 
input[type="text"],
input[type="password"] {
    width: 350px;
    padding: 4px;
    font-size: 14px;
    margin: 0 auto;
}
    
.submit{
    text-align: center;
}
 
/* skin */

#form{
  background: #FFF no-repeat center top scroll;
 

}
 
.submit input {
  background: #00ff00;
  border-radius: 20px;
  font-family: Courier New;
  color: #000080;
  font-size: 20px;
  font-weight: bold;
  padding: 5px 15px 5px 15px;
  text-decoration: none;
}
 
.submit input:hover {
  background: #ffff11;
  text-decoration: none;
}

.submit2 input {
  background: #00ff00;
  border-radius: 20px;
  font-family: Courier New;
  color: #000080;
  font-size: 20px;
  font-weight: bold;
  padding: 5px 15px 5px 15px;
  text-decoration: none;
}
 
.submit2 input:hover {
  background: #ffff11;
  text-decoration: none;
}
 
#form{
  background: #0000ff;
  border-radius: 20px;
  font-family: Courier New;
  color: #ffffff;
  font-size 20px:
  padding: 20px 20px 20px 20px;
  text-decoration: none;
}