*{
   margin : 0px;
   padding : 0px;
}
body {
   margin : 10px;
   padding : 10px;
}

nav {
	float:left;
	text-align : left;
	background-color :#E6E6E6;
	color:#0404B4;
	text-decoration:none;
}

h1{
	text-align : center;
}
h2{
	text-align : center;
}
section{
	text-align: center;
	color:#ffffff;
}

table, td, th {
	border: 2px #808080 solid;
	font-size:20px;
	background-color : #ffffff;
	color:#000000;
	margin-left: auto;
 	margin-right: auto;
	width="100%";
}

#form{
	background: #000066;
	border-radius:20px;
	font-famiky:Courier New;
	color: #ffffff;
	font-size : 20px;
	padding:20px 20px 20px 20px;
	text-decoration:none;
}
.submit input{
	bacground:#f78181;
	border-radius:20px;
	font-family:Courier New;
	color:#fff;
	font-size:20px;
	font-weight:bold;
	padding:5px 15px 5px 15px;
	text-decoration:none;
}
.submit input:hover{
	bacground:#ffff11;
	text-decoration:none;
}

footer{
	clear:both;
	text-align : center;
}




