@(daylist:List[String], userlist:List[String],
helplist:List[String], sentlist:List[String],
read: List[String], count:Integer,cardid: List[String])


<html>
	 <head>
	  <meta charset="UTF-8">
	  <title>着信一覧</title>
	 </head>
 <body bgcolor="#bbbbbb">
 	<table  border="1">
		<tr bgcolor="#FFBBFF">
			<td style="font-size:200%" width="150">助けた人</td>
			<td style="font-size:200%" width="150">件名</td>
			<td style="font-size:200%" width="150">助けてもらった日</td>
			<td style="font-size:200%" width="150">詳細</td>
		</tr>
		@for(num <- 1 to count){
				<tr bgcolor="#99FFFF">
				<td style="font-size:200%">@userlist(num -1)</td><!-- 助けた人 -->
				<td style="font-size:200%">@helplist(num -1)</td><!-- 件名 -->
				<td style="font-size:200%">@daylist(num -1)</td><!-- 件名 -->
				<form action="@routes.HomeController.thankscard()" method="post">
				<td>
					<input type="hidden" name="card_id" value="@cardid.get(num -1)"></input>
					<input type="hidden" name="employee_namen" value="@userlist.get(num -1)"></input>
					<input type="hidden" name="help_content" value="@helplist.get(num -1)"></input>
					<input type="hidden" name="sent_content" value="@sentlist.get(num -1)"></input>

					<input type="submit" value="詳細">

					@*
					<a href="@routes.HomeController.thankscard()">
						<button class="button1" type="submit" >詳細</button>
					</a>
					*@

			   </td>
			   </form>

			</tr>

		}
	</table>
	 </body>
</html>
