@(namelist: ArrayList[String], idlist: ArrayList[Integer], dnamelist: ArrayList[String],didlist: ArrayList[Integer])
<html>
	<head>
		<title>感謝カード作成</title>
		<link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/style.css")">
	</head>
	<body>
		<h1>感謝カード作成</h1>
<form action="@routes.HomeController.sendDB()" method="POST">
		<!-- <form action="@routes.HomeController.sendDB()" name="form" method="POST"> -->
			<p>
				<select name="division">
					@for((name,i) <- dnamelist.zipWithIndex){
						<option value=@i>@name</option>
					}
				</select>
				<select name="receive_user_id">
				@for((id, i) <- idlist.zipWithIndex){
					<option value=@id>@namelist.get(i)</option>
				}
				</select>
			</p>
			<p>
				ヘルプ内容：<input type="text" name="help_content" size="40" maxlength="30"/>
			</p>
			<p>
				感謝内容<br>
				<textarea name="sent_content" rows="7" cols="40" maxlength="255"></textarea>
			</p>
			<p>
				<input type="submit" name="send" value="送信"/>
			</p>
		</form>
	</body>
</html>