@(idlist:List[String],helplist:List[String],sentlist:List[String],listkazu:Integer,pageName:String)

@PastCard_common("新しい順") {
<div id="form">
<p ><input type="submit" value="ログアウト"></p>

        <h1>@pageName</h1>

        <br><br>


<nav>
	<p><a href="@routes.SHomeController.PastCard_resultTop()">部署別集計ページ</a></p>
	<br>
	<p>ソート</p>
	<p><a href="@routes.SHomeController.PastCard()">新しい順</a></p>
	<p><a href="@routes.SHomeController.sortOldCard()">古い順</a></p>
	<br>
	<p>絞込み</p>
	<p><a href="@routes.SHomeController.PastCard_A()">A評価一覧</a></p>
	<p><a href="@routes.SHomeController.PastCard_B()">B評価一覧</a></p>
	<p><a href="@routes.SHomeController.PastCard_C()">C評価一覧</a></p>
	<p><a href="@routes.SHomeController.PastCard_D()">未評価一覧</a></p>
</nav>

		<table>

		@if(listkazu==0){
			<p align="center">評価はありません</p>
		}else{
			@for(i <- 1 to listkazu){
				<tr>

					<td>
						@idlist.get(i-1)
					</td>
					<td>
						件名：@helplist.get(i-1)
					</td>
					<td>
						@sentlist.get(i-1)
					</td>
					<td>
						<p>評価</p>
						<form action="@routes.SHomeController.updateRank" method="post">
						<input type="hidden" name="card_id" value=@idlist.get(i-1)></input>
						<input type="radio" name="rank" value="a" checked>A
						<input type="radio" name="rank" value="b">B
						<input type="radio" name="rank" value="c">C
						<input type="submit" value="更新">
						</form>
					</td>

				</tr>
				}
			}
		</table>

<footer>OFF</footer>
</div>
}
