@(sentlist: List[String])

<!DOCTYPE html>
<html>
	<head>
		<title>過去ページ一覧</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/PastBbs.css")">
	</head>
    <body>
<div id="form">
    	<p class="submit"><input type="button" value="ログアウト"></p>
        <h1>過去カード一覧</h1>

        <br><br>
<section>
ソート
<select name="ソート">
<option value="サンプル1">サンプル1</option>
<option value="サンプル2">サンプル2</option>
<option value="サンプル3">サンプル3</option>
</select>


絞込み
<select name="絞込み">
<option value="サンプル1">サンプル1</option>
<option value="サンプル2">サンプル2</option>
<option value="サンプル3">サンプル3</option>
</select>

<a href="@routes.HomeController.PastCord_resultTop()"><input type="submit" value="集計ページへ" width=10 ></a>
</section>



		<table>


		@for(sent <- sentlist){
			<tr>
				<td>
					@sent
				</td>
				<td>
					from:@sent
				</td>
				<td>
					@sent
				</td>
				<td>
					評価
					<form action="" method="post">
					<input type="radio" name="hyouka" value="1" checked="checked">A
					<input type="radio" name="hyouka" value="2">B
					<input type="radio" name="hyouka" value="3">C
					<input type="submit" value="送信">
					</form>
				</td>
			</tr>

			}
		</table>

<footer>OFF</footer>
</div>

</body>
</html>
