@PastCard_common("TOP") {
<div id="form">

    	<p class="submit"><input type="button" value="ログアウト"></p>
        <h1>感謝カード一覧</h1>

        <h2>集計</h2>

        <br><br>

		<nav>
			<p><a href="@routes.SakihamaController.PastCard_result_1()">人事</a></p>

			<p><a href="@routes.SakihamaController.PastCard_result_2()">総務</a></p>
			<p><a href="@routes.SakihamaController.PastCard_result_3()">システム開発</a></p>
			<p><a href="@routes.SakihamaController.PastCard_result_4()">営業</a></p>

		</nav>
<footer>OFF</footer>
</div>
}

