@(cardlist:List[String],datelist:List[String],userlist:List[String]
,helplist:List[String],sentlist:List[String],readlist:List[String]
,count:Integer,namelist:List[String],checklist:List[String])


<html>
 <head>
  <meta charset="UTF-8">
  <title>受信画面</title>
 </head>
 <body bgcolor="#bbbbbb">



 	<table border="5" rules="rows" >

 	<tr bgcolor="#66FFFF">
		<td style="font-size:200%">助けた人</td>
		<td style="font-size:200%">件名</td>
		<td style="font-size:200%">内容</td>
		<td style="font-size:200%">助けた日</td>
		<td style="font-size:200%">詳細</td>
		<!-- <td style="font-size:200%">返信</td> -->
	</tr>

 		@for(num <- 1 to count){

 			@if(readlist(num-1)=="f"){
 			<tr bgcolor="#99FFFF" >
			}else{
			<tr bgcolor="#00FFFF" >
			}

			<td style="font-size:200%" >@namelist(num -1)</td>
			<td style="font-size:200%" >@helplist(num -1)</td>
			<td style="font-size:200%" >@sentlist(num -1)</td>
			<td style="font-size:200%" >@datelist(num -1)</td>

			<form action="" method="POST">
			<td><input type="submit" value="詳細"></td>

		<!-- 	@if(checklist(num-1)=="t"){
 			 <td><input type="button" value="返信" onclick="window.open('top')"></td>
			}else{
			<td>&nbsp;</td>
			}
			-->
			</tr>
		}

	</table>
 </body>
</html>